/* wwwroot/css/search.css */

/* Стили для подсветки предложений */
.highlighted {
    background-color: #007bff;
    color: white;
}

.table-info {
    background-color: #d1ecf1;
    transition: background-color 0.5s ease-out; /* Плавное исчезновение подсветки */
}

.list-group-item {
    cursor: pointer;
}
