@model IEnumerable<UniCabinet.Web.ViewModel.Discipline.DisciplineViewModel>

<button type="button" class="btn btn-primary" onclick="openAddDisciplineModal()">
    Добавить дисциплину
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <button type="button" class="btn btn-secondary" onclick="openEditDisciplineModal(@item.Id)">
                        Редактировать
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Скрипты для открытия модальных окон -->
@section Scripts {
    <script>
        function openAddDisciplineModal() {
            fetch('/Discipline/DisciplineAddModal')
                .then(response => response.text())
                .then(html => {
                    document.getElementById("modalContainer").innerHTML = html;
                    var modal = new bootstrap.Modal(document.getElementById('addDisciplineModal'));
                    modal.show();
                });
        }

        function openEditDisciplineModal(disciplineId) {
            fetch(`/Discipline/DisciplineEditModal?id=${disciplineId}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById("modalContainer").innerHTML = html;
                    var modal = new bootstrap.Modal(document.getElementById('editDisciplineModal'));
                    modal.show();
                });
        }
    </script>
}

<div id="modalContainer"></div>