@model IEnumerable<UniCabinet.Core.Models.ViewModel.Discipline.DisciplineListVM>

<button type="button" class="btn btn-primary" onclick="openModal('/Discipline/DisciplineAddModal', 'addDisciplineModal')">
    Добавить дисциплину
</button>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    <button type="button" class="btn btn-secondary" onclick="openModal('/Discipline/DisciplineEditModal', 'editDisciplineModal', @item.Id)">
                        Редактировать
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modalContainer"></div>
